	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>İletişim Linkleri</h4>
					<p>
						<a target="_blank" href="https://github.com/BalauzOD">GitHub</a><br/>
						<a target="_blank" href="https://twitter.com/bilge_aborjin">Twitter</a><br/>
						<a target="_blank" href="https://www.facebook.com/BalauzOD">Facebook</a>
						
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>Blogta kullandıklarım.</h4>
					<p>Bu blogta stanley isimli ücretsiz css blog template kullanılmıştır. Back-endde Ruby dili ve rails frameworkü kullanılmıştır.</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>