<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-1 centered">
					<img id=profil src="assets/img/user.png" alt="Stanley">
					<h1>Ben Kimim?</h1>
					<p>Merhaba ben Ramazan Fatih. Ocak 1996'da Manisa'nın Selendi ilçesinde doğdum. 
						İlkokulu Mardin'in Derik ilçesinde, ortaokul ve liseyi Uşak'ta bitirdim. 
						Halen Fırat Üniversitesinde Yazılım Mühendisliği okumaktayım.</p>
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	
	<!-- +++++ Information Section +++++ -->
	
	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-book"></span>
				<p>Okumanın ve yeni bilgiler edinmenin, bu bilgilerin içini doldurabilmenin önemini kavra!</p>
			</div>
			
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-user"></span>
				<p>Yeni insanlarla tanış, evsiz bir dilenci bile sana yeni şeyler katabilir!</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-fire"></span>
				<p>Görevine önem ver! Başarı yeni görevlere hırsla başlamanı sağlar.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-globe"></span>
				<p>Etrafına bak 12.yüzyılda değiliz. 21.yüzyılda dünyayının önemini keşfet!</p>
			</div>
		</div><!-- /row -->
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>DÜŞÜN!</h4>
				<p>Elindeki bilgiyle en iyisini üret! Ürettiğin en iyisi değilse yeni bilgilerle yeniden üret. En iyisi olana kadar durma!</p>
			</div><!-- /colg-lg-6 -->
			
			<div class="col-lg-6">
				<h4>YETENEKLERİM</h4>
				Object Oriented Programming
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>

				Ruby on Rails
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
						<span class="sr-only">80% Complete</span>
					</div>
				</div>
				
				HTML + CSS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
						<span class="sr-only">95% Complete</span>
					</div>
				</div>
				
				

			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->